<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <title>Lista de usuário</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body class="container mt-5">
    <div class="login-container">
        <h2>Lista de Usuário</h2>
        <form>
            <div class="mb-3">
                <label>Nome:</label>
                <input type="text" id="nome" class="form-control" required>
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Grupo</th>
                  </tr>
                  <tr>
                    <th>01</th>
                    <th>Luiz</th>
                    <th>Luiz.teste</th>
                    <th>Ativo</th>
                    <th>Administrador</th>
                  </tr>
                  <tr>
                    <th>02</th>
                    <th>pedro</th>
                    <th>pedro.teste</th>
                    <th>Ativo</th>
                    <th>Administrador</th>
                  </tr>
              </table>
        </form>
    </div>
</body>
</html>